body {
  font-family: 'Montserrat', sans-serif;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15% 7%;
}

h1 {
  font-family: 'Montserrat-Black', sans-serif;
  line-height: 1.5;
  font-size: 3.5rem;
  font-weight: 900;
}

h3 {
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: 600;
}

h2 {
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.5;
}
.h3{
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

p {
  color: #8f8f8f;
}

/* NAVBAR */
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat-light', sans-serif;
}

/* buttons */
.download-btn {
  margin: 5% 3% 5% 0;
}

/* img */
.img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* icon */
#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
}

.features-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* testimonial */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding: 3%;
}

.brand {
  width: 15%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 5%;
}

/* cta */
#cta{
  background-color: #ff4c68;
  text-align: center;
  padding: 7% 15%;
  color: white;
}

#footer{
  background-color: #fff;
  text-align:center;
  padding: 7% 15%;
}

.footer-icon{
  margin: 0 10px 15px 0;
}

@media (max-width:1028px) {
  #title {
    text-align: center;
  }

  .img {
    position: static;
    transform: rotate(0);
  }
}
